@model IEnumerable<online_version.Models.GetAll_Result>

@{
    Layout = null;
 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/sideBar.js"></script>
    
    <style>
        .table {
            margin-left: 3em;
        }

        #ed {
            color: blue;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Index", "Deliveries", FormMethod.Post))
    {<br />
        <h3>Items Delivered</h3>
        <table class="table  table-sm table-hover">
            <thead>
                <tr>
                    <th>Comodity</th>
                    <th>Quantiry</th>
                    <th>Supplier Name</th>
                    <th>Delivery Date</th>
                    <th>Delivery By</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(model => item.Comodity)</td>
                    <td>@Html.DisplayFor(model => item.Quantity)</td>
                    <td>@Html.DisplayFor(model => item.SupplierName)</td>
                    <td>@Html.DisplayFor(model => item.DeliveryDate)</td>
                    <td>@Html.DisplayFor(model => item.DeleveringBy)</td>
                    <td>@Html.DisplayFor(model => item.Status)</td>
                    <td>
                    <button id="btnShowModal" type="button" class="btn btn-success">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Product_id })
                    </button>
                    </td>
                </tr>

                 }
            </tbody>
        </table>
     }
    <div id="myEdit" style="display:none"></div>
</body>
</html>
<script>
    function editThis(Product_id) {
        var x = $("#myEdit");
        x.load("/Deliveries/Edit?Product_id=" + Product_id, function () {
            x.dialog({
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },
                modal: true,
                width: 500,
                height: 500,
                title: "Edit Comodity" + Product_id,
                resizable: false
            });
        });
    }

</script>