@model IEnumerable<online_version.Models.UndeliveredList_Result>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/sideBar.js"></script>
    <style>
        .table {
            margin-left: 3em;
        }

        #ed {
            color: blue;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Index", "Deliveries", FormMethod.Post))
    {<br />
        <h3>Items to be Delivered</h3>
        <table class="table  table-sm table-hover">
            <thead>
                <tr>
                    <th>Comodity</th>
                    <th>Buying Price</th>
                    <th>Selling Price</th>
                    <th>Quantiry</th>
                    <th>Supplier Name</th>
                    <th>Delivery Date</th>
                    <th>Delivery By</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="CustomerGrid">
                        <td>@Html.DisplayFor(model => item.Comodity)</td>
                        <td>@Html.DisplayFor(model => item.BuyingPrice)</td>
                        <td>@Html.DisplayFor(model => item.SellingPrice)</td>
                        <td>@Html.DisplayFor(model => item.Quantity)</td>
                        <td>@Html.DisplayFor(model => item.SupplierName)</td>
                        <td>@Html.DisplayFor(model => item.DeliveryDate)</td>
                        <td>@Html.DisplayFor(model => item.DeleveringBy)</td>
                        <td>@Html.DisplayFor(model => item.Status)</td>
                        <td id="ed">
                            <button id="btnShowModal" type="button" class="btn btn-success">
                                @Html.ActionLink("Edit", "Edit", new { id = item.Product_id })
                            </button>
                            <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                @Html.ActionLink("Delete", "Delete", new { id = item.Product_id })
                            </button>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
     }

</body>
</html>
